body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(discovery-fire-galaxy-23793-min.jpg);
  background-size: cover;
  background-position: center;  
  font-family: Roboto;
  font-size: 16px;
  color: #fff;
}

h1, h2, h3, h4, h5 {
  margin: 0; 
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

.header {
  min-height: 56px;
  transition: min-height 0.3s;
}

.header__inner{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.header__title {
  font-weight: 300;
  font-size: 3em;
  margin: 0.5em 0.25em;
  display: inline-block;
  color: #fff;
}

.header__subtitle {
  font-weight: 300;
  font-size: 2em;
  margin: 0.5em 0.25em;
  display: inline-block;
  color: #fff;
}

.nav {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.nav__item__lec, .nav__item__lab {
  box-sizing: border-box;
  border-radius: 8px;
  display: inline-block;
  width: 24%;
  font-size: 1.5em;
  text-align: center;
  line-height: 24px;
  padding: 56px;
  text-transform: uppercase;
}

.nav__item__lec {
  background-color: #F7B733;
  margin-right: 10px;
}

.nav__item__lab {
  background-color: #4ABDAC;
  margin-left: 10px;
}

.nav a {
  text-decoration: none;
  color: #fff;
}

.nav a:hover {
  text-decoration: underline;
  color: #212121;
}

.icon {
  margin-right: 3px;
}
